DATASETS/
MODEL/
MODELALG/RES/MPRNet/MPRNetv0/__pycache__/losses.cpython-38.pyc
WORKFLOW/CLS/TableCls/v0/runs/
WORKFLOW/CLS/TableCls/v0/test_data/
WORKFLOW/CLS/TableCls/v0/test_out/
WORKFLOW/DET/SealDet/v0/test_data/
WORKFLOW/DET/SealDet/v0/test_out/
WORKFLOW/DET/SealDet/v1/test_data/
WORKFLOW/DET/SealDet/v1/test_out/
WORKFLOW/DET/SealDet/v2/test_data/
WORKFLOW/DET/SealDet/v2/test_out/
WORKFLOW/DET/SealTextDet/v0/output/
WORKFLOW/DET/SealTextDet/v0/test_data/
WORKFLOW/DET/SealTextDet/v0/test_out/
WORKFLOW/DET/SealTextDet/v0/weights/
WORKFLOW/DET/TableCellDet/v1/test_data/
WORKFLOW/DET/TableCellDet/v1/test_out/
WORKFLOW/DET/TableDet/v0/test_out/
WORKFLOW/DET/TableDet/v1/debug.jpg
WORKFLOW/DET/TableDet/v1/test_data/
WORKFLOW/DET/TableDet/v1/test_out/
WORKFLOW/DET/TextDet/v0/debug-.jpg
WORKFLOW/DET/TextDet/v0/debug.jpg
WORKFLOW/DET/TextDet/v0/demo_show.py
WORKFLOW/DET/TextDet/v0/output/
WORKFLOW/DET/TextDet/v0/show_imgs/
WORKFLOW/DET/TextDet/v0/test_data/
WORKFLOW/DET/TextDet/v0/test_out/
WORKFLOW/OTHER/DeSealProcess/v0/test_data/
WORKFLOW/OTHER/DeSealProcess/v0/test_out/
WORKFLOW/OTHER/OCR/v0/test_data/
WORKFLOW/OTHER/OCR/v0/test_out/
WORKFLOW/OTHER/OCR/v1/test_data/
WORKFLOW/OTHER/OCR/v1/test_out/
WORKFLOW/OTHER/OCR/v2/debug.jpg
WORKFLOW/OTHER/OCR/v2/test_data/
WORKFLOW/OTHER/OCR/v2/test_out/
WORKFLOW/OTHER/OCR/v3/test_data/
WORKFLOW/OTHER/OCR/v3/test_out/
WORKFLOW/OTHER/TableStruct/v1/test_data/
WORKFLOW/OTHER/TableStruct/v2/test_data/
WORKFLOW/REC/TextRec/v0/debug.jpg
WORKFLOW/REC/TextRec/v0/logs/
WORKFLOW/RES/DeSeal/v0/test_data/
WORKFLOW/RES/DeSeal/v0/test_out/
WORKFLOW/DET/TableCellContentDet/v1/test_data/
WORKFLOW/DET/TableCellContentDet/v1/test_out/
WORKFLOW/OTHER/PDFParse/v3/test_data/
WORKFLOW/OTHER/PDFParse/v3/test_out/
WORKFLOW/OTHER/PDFParseTableStruct/v4/test_data/
WORKFLOW/OTHER/PDFParseTableStruct/v4/test_out/
WORKFLOW/OTHER/TableStruct/v3/test_data/
WORKFLOW/OTHER/TableStruct/v3/test_out/
WORKFLOW/OTHER/TableStruct/v4/test_data/
WORKFLOW/OTHER/TableStruct/v4/test_out/
WORKFLOW/RES/SuperResolution/v0/test_data/
WORKFLOW/RES/SuperResolution/v0/test_out/
WORKFLOW/DET/TextDet/v0/test_out/
WORKFLOW/DET/TextDet/v0/test_data/
WORKFLOW/SEG/TableMerge/v0/test_data/
WORKFLOW/SEG/TableMerge/v0/test_out/
WORKFLOW/OTHER/FunctionModel/PDFParseTableStruct/test_data/
WORKFLOW/OTHER/PDFParseTableStruct/v4/dust_code/
WORKFLOW/OTHER/TableStruct/v4/dust_code/
WORKFLOW/OTHER/TableStruct/v5/test_data/
WORKFLOW/OTHER/TableStruct/v5/deep_splerge/
WORKFLOW/SEG/TableSplit/v0/test_out/my_imgs_4/
WORKFLOW/SEG/TableSplit/v0/test_data/
WORKFLOW/SEG/TableSplit/v0/test_out/
WORKFLOW/DET/TextDet/v0/weights/
WORKFLOW/DET/TableCellDet/v0/test_data/
WORKFLOW/DET/TableCellDet/v0/test_out/
WORKFLOW/DET/TableCellDet/v1/test_data/
WORKFLOW/DET/TableCellDet/v1/test_out/
WORKFLOW/DET/TableDet/v0/test_data/
WORKFLOW/DET/TableDet/v0/test_out/
WORKFLOW/DET/TableDet/v1/test_data/
WORKFLOW/DET/TableDet/v1/test_out/
WORKFLOW/DET/TextDet/v0/test_data/
WORKFLOW/DET/TextDet/v0/test_out/
WORKFLOW/CLS/TextCls/v0/test_data/
WORKFLOW/CLS/TextCls/v0/test_out/
**/STHeiti_Light.ttc
WORKFLOW/OTHER/TableStruct/v0/test_data/
WORKFLOW/OTHER/TableStruct/v0/test_out/
**/__pycache__
*.swp
*.pyc
WORKFLOW/OTHER/OCR/v3/test_data
WORKFLOW/OTHER/OCR/v3/core
